.container {
  position: relative;
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  border-radius: 7px;
  background-color: #eee;
  width: 100%;
  cursor: pointer;
  transition: 1s;
}

.container .info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

.container .info .titleBook {
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  z-index: 50;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container .info p {
  font-size: 0.8125rem;
  color: var(--four-color);
  text-align: center;
}
.container .info .author {
  font-size: 0.7rem;
  color: #363636c2;
}
.container .info button {
  width: 100%;
  padding: 0.5rem 0.2rem;
  border-radius: 7px;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid var(--primary-color);
  transition: 1s;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 0.875rem;
  text-align: center;
  margin-top: auto;
}

.container:hover {
  border: 1px solid #36363649;
  box-shadow: 0px 0px 3px #36363649;
}

.container:hover .info .button {
  background-color: var(--primary-color);
  color: #fff;
}

@media (max-width: 640px) {
  .container .info .button {
    font-size: 0.8rem;
  }
}
