.container button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.container button:disabled {
  opacity: initial !important;
}
.container button:disabled svg {
  margin: 0 auto;
  animation: 0.5s show-loading-button infinite linear;
}

@keyframes show-loading-button {
  to {
    transform: rotate(360deg);
  }
}
