.btn {
  color: #fafafa;
  font-weight: bold;
  border: 1px solid #889397;
  border-radius: 7px;
  font-size: 1rem;
  background-color: var(--primary-color);
  padding-block: 1rem;
  width: 100%;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
}

.btn:hover {
  box-shadow: 0px 0px 5px var(--primary-color);
}
.btn:disabled svg {
  animation: 0.5s show-loading infinite linear;
}

@keyframes show-loading {
  to {
    transform: rotate(360deg);
  }
}
