.container {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.5s;
  border-top: 0.5px solid #eeeeee41;
  overflow: hidden;
  font-size: 0.875rem;
  width: 400px;
  position: absolute;
  top: calc(100% - 24px);
  background-color: var(--primary-color);
  right: 0%;
  box-shadow: 1px 2px 4px #001f3f9f;
  border-radius: 0px 0px 7px 7px;
}

.list {
  width: 100%;
}

.list li {
  display: block;
}
.list a {
  transition: 0.7s;
  display: block;
  padding: 1rem 1.5rem;
}

.list li a {
  gap: 0.5rem;
  display: flex;
  align-items: flex-end;
}

.list a:hover {
  font-weight: bold;
  color: var(--primary-color);
  background-color: var(--second-color);
}

.list li:nth-child(1) a:hover svg {
  fill: var(--primary-color);
}

.list li:last-child {
  position: relative;
}

.number-items {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--second-color);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  left: 110px;
  bottom: 60%;
}

.list a:hover .items-icon .number-items {
  color: var(--second-color);
  background-color: var(--primary-color);
}

@media (max-width: 955px) {
  .container.active {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    top: 100%;
  }
}

@media (max-width: 400px) {
  .container {
    width: 100%;
  }
}
