@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --primary-color:  #001f3f;
  --second-color:#ffa500;
  --three-color:#343840;
  --four-color:#363636;
}

body{
  color:#8080805d;
  color:rgba(217, 217, 217, 0.582);
  color: #000000;
  font-size: 1.2rem;
  padding-top: 103px;
  font-family: 'Lato', sans-serif;
  background-color: #fafafa;
}


ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: #fff;
}
img{
  width:100%;
  border-radius:7px;
}
input:hover,
input:focus{
  border: none;
  outline: none;
}

button{
  border:transparent;
  cursor:pointer;
}

.title{
  display:flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom:2rem;

}
.title svg{
  transition: 1s;
}
.title:hover svg{
  fill: var(--second-color);
}

.title h1{
  font-size:3rem;
}

.resizeTitle{
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  z-index: 50;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.swiper-button-prev,
.swiper-button-next{
  color: var(--primary-color) !important;
}

.swiper-pagination-bullet-active{
  background-color: var(--primary-color) !important;
}

@media (max-width:955px){
  body{
    padding-top:154px;
  }
}