.btn {
  position: relative;
  font-weight: bold;
  color: #3d4f58;
  background-color: transparent;
  border: none;
  padding: 1rem;
  width: fit-content;
  font-size: 1rem;
  margin: 0 auto;
}

.btn::after {
  content: '';
  display: block;
  width: 0%;
  background: var(--primary-color);
  position: absolute;
  left: 0;
  transition: all 1s;
  bottom: calc(1rem - 2px);
  height: 1px;
}

.btn:hover::after {
  width: 100%;
}

@keyframes show-line {
  to{
    width: 100%;
  }
  
}