.btn {
  position: relative;
  font-weight: bold;
  color: #3d4f58;
  background-color: transparent;
  border: none;
  padding: 1rem;
  width: fit-content;
  font-size: 1rem;
  margin: 0 auto;
}

.btn::after {
  content: '';
  display: block;
  width: 0%;
  background: var(--primary-color);
  position: absolute;
  left: 0;
  transition: all 1s;
  bottom: calc(1rem - 2px);
  height: 1px;
}

.btn:hover::after {
  width: 100%;
}

.icon-email {
  border: 2px solid var(--second-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 0.3rem;
  border-radius: 10px 3px 10px 3px;
}

.icon-email svg {
  animation: show-pop 1s infinite linear;
}

@keyframes show-pop {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes show-line {
  to {
    width: 100%;
  }
}
