.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 46px;
  }
  
  .container .actions-exclude {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  
  .container .actions-exclude .exclude-group-button {
    background-color: transparent;
    padding: 0.5rem 1rem;
    opacity: 0;
    pointer-events: none;
    position: relative;
    animation: 0.7s show-item forwards;
  }
  
  .container .actions-exclude .exclude-group-button.active {
    opacity: initial;
    pointer-events: initial;
  }
  
  .container .actions-exclude .exclude-group-button:hover svg {
    animation: 1s show-exclude ease;
  }
  

  .container .actions-exclude .exclude-group-button span {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: calc(1rem - 5px);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--second-color);
    font-size: 0.7rem;
    color: #fff;
    transition: all 0.5s;
  }
  
  .container .actions-exclude .exclude-group-button:hover span {
    background-color: #f31;
  }
  
  .container .actions-exclude .reset {
    display: flex;
    background-color: transparent;
    padding: 0.5rem 1rem;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s;
    animation: 0.7s show-item forwards;
  }

@keyframes show-exclude {
    from {
        transform: rotate(-60deg);
    }
    to {
        transform: initial;
    }
}

@keyframes show-item {
    to {
        opacity: initial;
        pointer-events: initial;
    }
}