.container {
    padding: 1rem;
    display: flex;
    font-size: 1rem;
    border-bottom: 1px solid #d9d9d9;
    background-color: #fff;
    gap: 1rem;
}

@media (max-width: 810px) {
    .container {
        flex-direction: column;
    }
}