.container {
  color: #3d4f58;
  position: relative;
}

.container span svg {
  transition: all 0.5s;
}

.container .label {
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  display: block;
}

.container .input {
  padding: 0.5rem;
  background-color: transparent;
  color: #000000;
  font-size: 1.1rem;
  width: 100%;
  border: none;
  background-color: #fafafaa2;
  border-radius: 7px;
  border: 1px solid #d9d9d9;
  transition: 0.5s;
}

.container .input:hover,
.container .input:focus .container .input:-webkit-autofill {
  background-color: transparent;
  outline: none;
  box-shadow: 0px 0px 5px var(--primary-color);
}

.container .input.input-error:hover,
.container
  .input.input-error:focus
  .container
  .input.input-error:-webkit-autofill {
  box-shadow: 0px 0px 5px #f31;
}

.container .input.input-error {
  border-color: #f31;
}

.container .error {
  color: #f31;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.container span {
  position: absolute;
  cursor: pointer;
  display: block;
  height: 25px;
  top: 28px;
  right: 0.5rem;
}
