.containerBook {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.contentBook {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

.contentBook .cardBook {
  position: relative;
  cursor: pointer;
  transition: 0.7s;
  width: 100%;
  display: flex;
  font-size: 1rem;
  flex-direction: column;
  gap: 0.5rem;
  color: #363636;
  border: 1px solid #d9d9d9;
  align-items: center;
  background-color: #fff;
  padding: 2rem;
  border-radius: 7px;
}

.contentBook .cardBook:hover {
  border: 1px solid #36363649;
  box-shadow: 0px 0px 3px #36363649;
}

.contentBook .cardBook:hover button {
  background-color: var(--primary-color) !important;
  color: #fff;
}
.contentBook .cardBook .text {
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  z-index: 50;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contentBook .cardBook .img {
  position: relative;
  width: 100%;
  height: 400px;
}

.contentBook .cardBook button {
  width: 100%;
  padding: 0.5rem;
  border-radius: 7px;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid var(--primary-color);
  transition: 1s;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  transition: 1s;
}

.pagination {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 2rem;
}
.pagination .containerPagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.pagination .containerPagination button {
  font-family: 'Lato', sans-serif;
  width: 35px;
  height: 35px;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 7px;
}

@media (max-width: 900px) {
  .containerBook {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 550px) {
  .containerBook {
    grid-template-columns: 1fr;
  }

  .contentBook .cardBook img {
    height: 200px !important;
    max-width: 300px !important;
  }
}
