.input-checkbox {
  accent-color: var(--second-color);
}

.input-number {
  width: 30px;
  text-align: center;
  border: 1px solid transparent;
  background-color: transparent;
  transition: 0.7s;
}

.input-number:hover {
  border: 1px solid var(--second-color);
}
.input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
}